@media only screen and (max-width:500px) {
    /* For mobile phones: */
    body, header {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .confir, .sky{
      width: 100%;
    }
  }
.confir{
    background-size:cover;
    height: 300px;
    background-image: url("../images/Email Background Image.png");
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
     .btn{
      width: 100%;
    }
  }

.footer{
    background-color:#ff6830;
    height: 120px;
    margin-top: 30px;

}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .swift{
      width: 100%;
    }
  }
@media only screen and (max-width:500px) {
    /* For mobile phones: */
     .state, .footer {
      width: 100%;
    }
  }
